<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skillyouneed">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkillYouNeed">
        <activity android:name=".ManageGadgetsActivity"></activity>
        <activity android:name=".ManageTypesActivity" />
        <activity android:name=".ManageSkillsActivity" />
        <activity android:name=".ManageRoutinesActivity" />
        <activity android:name=".ManageExercisesActivity" />
        <activity android:name=".ManageUsersActivity" />
        <activity android:name=".activities.UserProfileActivity" />
        <activity android:name=".activities.SkillListActivity" />
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>